# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
dist/
build/

# Environment variables (QUAN TRỌNG)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo